<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mail Campaign
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="media">
    <ion-card-header>
      <ion-img src="/assets/mail.jpg" alt=""></ion-img>
    </ion-card-header>
  </ion-card>
  <br>
  <br>
  <br>

  <ion-item lines="none" class="fileClass">
    <ion-input color="primary" type="file" accept="text/plain" (change)="fileUpload($event)"></ion-input>
  </ion-item>

</ion-content>